// VARIABLES
//brighter-colorful https://coolors.co/052f5f-005377-06a77d-d5c67a-f1a208
// $color-1: #052F5F;
// $color-2: #005377;
// $color-3: #06A77D;
// $color-3: #D5C67A;
// $color-5: #F1A208;
//darker-colorful https://coolors.co/052f5f-007596-06aa74-e0d184-c47c00
$color-3: #052F5F;
$blue: #007596;
$green: #06aa74;
$yellow: #e0d184;
$orange: #c47c00;
//darker-greyscale https://coolors.co/0d0d0d-404040-737373-a6a6a6-f2f2f2
$color-1: #0d0d0d;
$color-2: #404040;
$color-3: #737373;
$color-4: #bdbdbd;
$color-5: #f2f2f2;

$font-stack-1: 'Cutive Mono', sans-serif;
$font-stack-2: 'Open Sans', sans serif;

$box-outline: 1pt $color-1 dashed;
$box-small-padding: .5rem .8rem;
$box-large-padding: .8rem .8rem;
$box-margin: 0;
$box-child-background: $color-4;

//EXTEND/INHERITANCE
// %reset-ul {

// }

//--LEAST IMPORTANT ALL-ENCOMPASSING STYLES

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-5;
  * {
    font-family: $font-stack-2;
  }
}

main {
  padding: 10px;
}

//----BY STRUCTURE----

//NAV BAR
nav {
  position: sticky;
  top: 0;
  background-color: $color-1;
  opacity: 1;
  z-index: 1;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    a {
      display: block;
      color: $color-5;
      font-family: $font-stack-1;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
    }
  }
}
.li--width--contain {
  position: fixed;
  top: 0; left: 50%;
  width: 150px;
  margin-left:-75px;
}


//MAIN ABOUT
.section--display--about1 {
  h1 {
    width: 100%;
  }
  em {
    font-family: $font-stack-1;
    font-size: 1.15rem;
    font-weight: 600;
    font-style: italic;
  }
  em:hover {
    color: $yellow;
    font-size: 1.5em;
  }
  section {
    background: $box-child-background;
  }
}
.p--open--about2 {
  display: inline-block;
  font-family: $font-stack-1;
  font-style: italic;
  font-weight: 600;
  outline: $box-outline;
  padding: $box-large-padding;
  margin: 0;
}
.p--style--tDecoration {
  text-decoration: line-through;
}
.section--display--about2 {
  background-color: $box-child-background;
  margin: 0 0 20px 0;
  padding: 1rem;
  h2 {
    margin: 0;
  }
}
.a--display--vertical {
  float: right;
}


//WORK
.project-button {
  //.div--style--box
  padding: $box-large-padding;
  margin: 0 0 1rem 0;
  outline: $box-outline;
  //.div--size--contain 
  position: relative; //also for overlay--text
  overflow: hidden;
  //div--overlay--text
  text-align: center;
}
.h3--justifyAlign--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.div--display--toggle {
  padding: .8rem;
  background-color: $box-child-background;
}
.div--justify--spaceAround {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

//CONTACT
#contact {
  min-height: 100vh;
}
ul.fa-ul {
  list-style-type: none;
  a {
    text-decoration: none;
    color: $color-3;
  }
  li {
    padding: 0 0 10px 0;
  }
  li:hover {
    color: $yellow;
  }
}

//----BY ATTRIBUTE----
.anchor {
  height: 3.2rem;
  width: 100%;
  padding: 1rem 0 0 0;
  position: relative;
  display: inline-block;
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -70px;
}

.anchor .target-label { 
  position: absolute;
  left: 0;
  margin: 0;
}

h1, h2 {
  font-family: $font-stack-1;  
}

h3 {
  font-family: $font-stack-1;
  font-style: italic;
}

.fas {
  font-size: .8rem;
}

.hidden {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a:hover, nav.a--display--vertical:hover, a:hover, .project-button:hover, .p--open--about2:hover {
  color: $yellow;
  transform: translate(2px, 2px);
}

a, nav.a--display--vertical, .project-button, .p--open--about2 {
  color: $color-3;
}

@media screen and (min-width: 425px) {  
  nav ul {
    height: 40px;
  }

  .anchor a {
    top: -40px;
  }

  .li--width--contain{
    display: none;
  }
}

@media screen and (min-width: 1024px) {  
  nav {
    position: sticky;
    top: 0;
    padding: 0 0 0 0;
    background-color: $color-1;
    opacity: 1;
    z-index: 1;
    ul {
      list-style-type: none;
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      overflow: hidden;
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      a {
        display: block;
        color: $color-5;
        font-family: $font-stack-1;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
      }
    }
  }
  .li--width--contain {
    display: inline;
    position: fixed;
    margin-left: 0;
    top: 0; left: 0;
  }

  main {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 4rem;
  }  
  
  .anchor {
    height: 5rem;
  }

  ul.fa-ul {
    margin: 0 0 0 20px;
  }

   

  //make the logo go to the left haha
  //contacts remove padding 
}