* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}
body * {
  font-family: "Open Sans", sans serif;
}

main {
  padding: 10px;
}

nav {
  position: sticky;
  top: 0;
  background-color: #0d0d0d;
  opacity: 1;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
nav ul a {
  display: block;
  color: #f2f2f2;
  font-family: "Cutive Mono", sans-serif;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.li--width--contain {
  position: fixed;
  top: 0;
  left: 50%;
  width: 150px;
  margin-left: -75px;
}

.section--display--about1 h1 {
  width: 100%;
}
.section--display--about1 em {
  font-family: "Cutive Mono", sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  font-style: italic;
}
.section--display--about1 em:hover {
  color: #e0d184;
  font-size: 1.5em;
}
.section--display--about1 section {
  background: #bdbdbd;
}

.p--open--about2 {
  display: inline-block;
  font-family: "Cutive Mono", sans-serif;
  font-style: italic;
  font-weight: 600;
  outline: 1pt #0d0d0d dashed;
  padding: 0.8rem 0.8rem;
  margin: 0;
}

.p--style--tDecoration {
  text-decoration: line-through;
}

.section--display--about2 {
  background-color: #bdbdbd;
  margin: 0 0 20px 0;
  padding: 1rem;
}
.section--display--about2 h2 {
  margin: 0;
}

.a--display--vertical {
  float: right;
}

.project-button {
  padding: 0.8rem 0.8rem;
  margin: 0 0 1rem 0;
  outline: 1pt #0d0d0d dashed;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.h3--justifyAlign--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div--display--toggle {
  padding: 0.8rem;
  background-color: #bdbdbd;
}

.div--justify--spaceAround {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

#contact {
  min-height: 100vh;
}

ul.fa-ul {
  list-style-type: none;
}
ul.fa-ul a {
  text-decoration: none;
  color: #737373;
}
ul.fa-ul li {
  padding: 0 0 10px 0;
}
ul.fa-ul li:hover {
  color: #e0d184;
}

.anchor {
  height: 3.2rem;
  width: 100%;
  padding: 1rem 0 0 0;
  position: relative;
  display: inline-block;
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -70px;
}

.anchor .target-label {
  position: absolute;
  left: 0;
  margin: 0;
}

h1, h2 {
  font-family: "Cutive Mono", sans-serif;
}

h3 {
  font-family: "Cutive Mono", sans-serif;
  font-style: italic;
}

.fas {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a:hover, nav.a--display--vertical:hover, a:hover, .project-button:hover, .p--open--about2:hover {
  color: #e0d184;
  transform: translate(2px, 2px);
}

a, nav.a--display--vertical, .project-button, .p--open--about2 {
  color: #737373;
}

@media screen and (min-width: 425px) {
  nav ul {
    height: 40px;
  }

  .anchor a {
    top: -40px;
  }

  .li--width--contain {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    position: sticky;
    top: 0;
    padding: 0 0 0 0;
    background-color: #0d0d0d;
    opacity: 1;
    z-index: 1;
  }
  nav ul {
    list-style-type: none;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul a {
    display: block;
    color: #f2f2f2;
    font-family: "Cutive Mono", sans-serif;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }

  .li--width--contain {
    display: inline;
    position: fixed;
    margin-left: 0;
    top: 0;
    left: 0;
  }

  main {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 4rem;
  }

  .anchor {
    height: 5rem;
  }

  ul.fa-ul {
    margin: 0 0 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
